 <header class="navbar navbar-fixed-top navbar-inverse"> <%# classはページ内で何度も使えるのに対し、idは一度しか使えない %>
      <div class="container">
        <%= link_to "勤怠管理システム", root_path, id: "logo" %> <%#第一引数　リンクテキスト　第二引数　URL#はダミー　第三引数　オプション %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "ホーム", root_path %></li>
            <li><%= link_to "ログイン", '#' %></li>
          </ul>
        </nav>
      </div>
</header>